.shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    height: 50px;
    background-color: var(--cyan);
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    height: 50px;
    background-color: var(--light);
  }
}


.logo-box {
  display: flex;
  align-items: center;
  height: 100%;

  &__logo {
    height: 32px;
    background-color: var(--light);
  }
}

