.header {
  height: 50px;
  background-color: var(--cyan);
}

.logo-box {
  display: flex;
  align-items: center;
  height: 100%;

  &__logo {
    height: 32px;
    background-color: var(--light);
  }
}

.expression-input {
  text-align: center;
}

.variant-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 0 0.5rem;
  }
}
